body{
  margin:0;
  background-color:tan;
  font-family:"calibri";
}
h1 {
  font-size:3em;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family:"Georgia","Arial","Calibri";
}

#cert-topics{
  color:purple;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
